.page-header {
    padding-top: 2rem;
    padding-bottom: 2rem;
 }
@media screen and (min-width: 64em) {
  .project-name {
      font-size: 3rem;
  }
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #1f971f;
}

.site-footer {
  padding: 2em 0.5em;
}

.back-to-home-link a,
.back-to-home-link .fas{
  color: white;
  font-size: 1.2em;
}

.pill-items {
    padding-left: 0;
}

.pill-items li {
    margin: 10px 5px;
    border-radius: 4px;
    display: inline-block;
}

.pill-items li > span {
    border: 1px solid #1F971F;
    padding: 4px 10px;
    border-radius: 4px;
}

.talk-card {	
    box-shadow: 0px 10px 20px 4px #00000015;
    border-radius: 20px;
    margin: 5px 10px 30px;
    padding: 20px;
}

.talk-card:hover {
    border: 1px solid #1F971F;
    box-shadow: 0px 5px 10px 5px #00000015;
    padding: 19px;
    color: black;
}

.talk-card:hover .fa {
	color: #1F971F;
}

.talk-card h3 {
	margin-top: 0;
	margin-bottom: 5px;
	color: #1f971f;
}

.talk-card .event-details,
.talk-card .sub-details {
	padding-top: 10px;
}

.fa-at,
.fa-external-link-square,
.project-info i {
	margin-right: 5px;
}

.footer-contact-links span {
    margin-right: 15px;
    display: inline-block;
}

.footer-contact-links i {
    margin-right: 5px;
    color: black;
}

.project-info ul {
    padding-left: 0;
}

.project-info li {
    margin-bottom: 15px;	
}

/**
.project-info img {
    max-height: fit-content;
    width: auto;
    object-fit: contain;
}
*/

.contact-me label {
    color: #1f971f;
    margin-bottom: 20px;
    display: block;
    font-size: 20px;
}

.contact-me input {
    height: 40px;
}

.contact-me input,
.contact-me textarea {
    display: block;
    width: 100%;
    border-radius: 10px;
    border: solid 1.2px #606c71;    
    margin-top: 10px !important;
    color: black;
    padding: 2px 10px;
}

.contact-me textarea {
    resize: vertical;
}

.contact-me button {
    width: 100%;
    color: white;
    background-color: #1f971f;
    border: none;
    border-radius: 20px;
    height: 40px;
}

.site-footer {
    text-align: center;
}

.site-footer-credits {
	color: #1c2022;
}

.footer-contact-links .fa {
    font-size: 1.5em;
}

@media (prefers-reduced-motion: no-preference) {	
	.footer-contact-links a:hover .fa {
		transition: 1.9s;
		transform: rotateY(360deg);
	}
	
	.project-info .fa:hover {
	    transition: 0.5s;
	    transform: scale(1.3, 1.3);
        }
}

.project-info li {
    list-style: none;
    border: solid 1px #f3f3f3;
    border-radius: 20px;
    padding: 10px 0px;
    text-align: center;
    box-shadow: 0px 5px 10px 5px #00000015;
    margin-bottom: 30px;
}

.project-info li:hover {
    border: 1px solid #1F971F;
    box-shadow: 0px 5px 10px 5px #00000015;
    color: black;
}

.project-info li h3 {
    color: #4e4a4a;
}

.project-info .fa {
/*     color: #4e4a4a; */
    font-size: 1.5em;
}

.project-info a:nth-child(even) .fa {
    margin-left: 15px;
}

.project-info a:nth-child(odd) .fa {
    margin-right: 15px;
}

.project-info .fa:hover {
/*     color: #1F971F; */
}

.project-info a {
    
}

.project-info div {
    padding: 10px 15px 5px;
}

.my-motto {
    font-size: 1.5em;
    color: #7640ac;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.posts,
.til-list {
	padding-left: 0;
}

.posts li,
.til-list > li {
	border-bottom: solid 1.5px #b5aeae;
	margin-bottom: 25px;
	list-style: none;
}

.posts a {
	font-size: 1.4em;
	color: #15638d;
}

.blog-tags {
	padding-bottom: 15px;
}

.til-list h3 {
	color: #15638d;
}

.til-list div {
	margin-bottom: 15px;
}
.show { display: block;	}
.hide { display: none;}
.accordion button {
	border: none;
	background-color: transparent;
	width: 100%;
	text-align: left;
	font-size: 1.2em;
	padding: 10px 0;
	cursor: pointer;	
}

.til-list .fa {
	margin-right: 5px;
}
	
/* 	.accordion {
		padding: 10px 15px;
		
	} */

.prev-link, .next-link {
	display: inline-block;
	margin-top: 20px;
	width: 49%;
}

.next-link {
	text-align: right;
}

@media screen and (max-width: 320px) {
  .prev-link, .next-link {
      display: block;
	width: unset;
	  text-align: left;
  }
	
}

textarea.code-sample {
    width: 100%;
    resize: none;
    margin-top: 15px !important;
    border: none;
    padding: 10px 15px;
    color: black;
    box-shadow: #717476 10px 10px;
    background: linear-gradient(110deg, #c4cbcd, transparent);
    font-family: Roboto Mono,monospace;
    margin-bottom: 1.3em;
    font-size: 1.1em;

}
