<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Anuradha Kumari</title>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    {% include advertisements.html %}
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!--     <meta http-equiv="refresh" content="0; url='https://anuk79.netlify.app/'" /> -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="/assets/css/customStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <form name="portfolio-contact-form" netlify netlify-honeypot="bot-field" hidden aria-hidden="true">
      <input type="text" name="name" />
      <input type="email" name="email" />
      <textarea name="message"></textarea>
    </form>
    
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      {% if page.is_post != "True" %}
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% endif %}
      {% if page.is_home_btn_reqd == "True" %}
        <a href="/" class="btn">Home</a>
      {% endif %}
       {% if page.is_aboutpage != "True" %}
        <a href="/about_me" class="btn">About Me</a>
      {% endif %} 
      {% if page.is_project_btn_reqd != "False" %}
        <a href="/my_projects" class="btn">Projects</a>
        
        <a href="/tech_talks" class="btn">Tech talks</a>
      
        <a href="https://github.com/anuk79/" target="_blank" class="btn">Github</a>
      {% endif %}
     
      {% if page.is_contact_page != "True" %}
        <a href="https://anuk79.netlify.app/contact_me" class="btn">Contact</a>
      {% endif %}
      
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <p class="footer-contact-links">
          <span>
            <a href="https://github.com/anuk79" target="_blank" aria-label="github link - anuk79">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </span>
          <span>
            <a href="https://www.linkedin.com/in/anuradha15/" target="_blank" aria-label="Linkedin link - anuradha15">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </span>
          <span>
            <a href="https://twitter.com/miracle_404" target="_blank" aria-label="Twitter link - miracle_404">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </span>
          <span>
            <a href="https://stackoverflow.com/users/11406789/anuradha-kumari" target="_blank" aria-label="Stackoverflow link - anuradha-kumari">
              <i class="fa fa-stack-overflow" aria-hidden="true"></i>
            </a>
          </span>     
        </p>
        {% if site.github.is_project_page %}
          <span class="site-footer-owner">
            <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}
            </a>.
        </span>
        {% endif %}
        <span class="site-footer-credits">This portfolio page has been generated by <a href="https://pages.github.com" target="_blank">GitHub Pages</a> and hosted on <a href="https://www.netlify.com/" target="_blank">Netlify</a>.</span>
      </footer>
    </main>
  </body>
</html>
